html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    background: var(--color-background);
    gap: 1.8rem;
    grid-template-columns: 18rem auto 23rem;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 36%;
}

h1{
    font-weight: 700;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark-variant);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

aside{
    height: 100%;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
    position: fixed;
}

aside .logo .img{
    width: 2rem;
    height: 2rem;
}

aside .close{
    display: none;
}

/*--------------SIDEBAR---------------*/

aside .sidebar{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 3rem;
    transition: all 1400ms ease;
    margin-top: 1%;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 8%;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 200%;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 10%;
    width: 90%;
}
/*effect*/
aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
    
}


aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--color-primary);
}
/*end effect*/
aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 10%;
}

aside .sidebar .notif{
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/*----------DASHBOARD-------------*/

main{
    margin-top: 3.5rem;
}

main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"]{
    background: transparent;
    color: var(--color-dark);    
}


main > button {
    background: var(--color-primary);
    color: var(--color-white);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-left: 10px;
    padding: 5px;
    height: 36px;
    width: 20%;    
    border-radius: var(--border-radius-1) ;
    cursor: pointer;
}

main button:hover {
    text-decoration: underline;
}

main .insights{
    display: grid;
    grid-template-columns: repeat(4, 23.5%);
    gap: 2%;
}

main .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;    
}

main .insights div:hover{
    box-shadow: none;
}

main .insights div label {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    
}

main .insights div span{        
    color: var(--color-bglightblack);    
    font-weight: 800;
    font-size: 600%;
    line-height: 100%;
}


/* ============= CHARTS ===============*/

main .charts {
    margin-top: 0.5rem;
}

main .charts {
    display: grid;
    grid-template-columns: repeat(4, 23.5%);
    gap: 2%;
}

main .chart-header {
    margin-top: 3%;
}

main .charts .card {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;  
    min-height: 70%;
    max-height: 30%;
}

main .charts .card:hover {
    box-shadow: none;
}

main .charts .card canvas {
    width: 200%;
    height: 200%;
}

main .charts .card .legend-container {
    display: grid; 
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    max-height: 60%;
    min-height: 60%;    
    overflow-y:scroll;
}

main .charts .card .legend-container::-webkit-scrollbar {
    visibility: hidden;
}

main .charts .card .legend-container div {
    margin-top: 2rem;
    display: flex;    
    align-items: center;
    position: relative;           
    width: 100%;    
}

main .charts .card .legend-container div:first-child {
    margin-top: 1rem;

}

main .charts .card .legend-container div label {
    position: absolute;    
    top:0;
    left: 0;
    width: 15px;
    height: 15px;    
}

main .charts .card .legend-container div span {
    margin-top: -2px;
    margin-left: 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;    
    width: 100%;    
}



/* ============= RECENT ORDERS ===============*/

main .recent-order {
    margin-top: 2rem;
}

main .recent-order h2 {
    margin-bottom: 0.8rem;
}

main .recent-order table {
    background-color: var(--color-white);
    width: 100%;
    border-radius: var(--border-radius-3);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-order table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom:  1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-order a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/*=========== RIGHT ===============*/

.right {
    margin-top: 1.4rem;
    margin-right: 1rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
} 

.right .top button {
    display: none;
}

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.8rem;
    width: 20%;
    cursor: pointer;
    border-radius: var(--border-radius-2);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

/* =============== RECENT UPDATES ============*/

.right .recent-updates {
    margin-top: 1rem;
    max-height: 40vh;
    border-radius:  var(--card-border-radius);
    overflow-y: scroll;
}

.right .recent-updates::-webkit-scrollbar {
    display: none;
}

.right .recent-header {
    margin-top: 3.5rem;
}

.right .recent-updates .updates{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius:  var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
    box-shadow: none;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*=============== SALES ANALYTICS ===============*/

.right .button-container {
    margin-top: 3rem;
}

.right .button-container h2 {
    margin-bottom: 0.8rem;
}

.right .button-container .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    cursor: pointer;
}

.right .button-container .item:hover {
    box-shadow: none;
}

.right .button-container .item .right {
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0;    
    width: 100%;
}

.right .button-container .item .right h3{
    font-size: 15px;
}

.right .button-container .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-info-light);
    display: flex;
    margin-left: 20px;
}

.right .button-container .item.btn-course .icon {
    background: var(--color-danger);
}

.right .button-container .item.btn-account .icon {
    background: var(--color-success);
}

.right .button-container .btn-thesis {
    background-color: transparent;
    border: 2px dashed var(--color-info-light);
    color: var(--color-primary);
    display:flex;
    align-items: center;
    justify-content: center;
}

.right .button-container .btn-thesis div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .button-container .btn-thesis div h3 {
    font-weight: 600;
    font-size: 15px;
}

/*============MODAL FORM==============*/
.department{
    width: 500px;
    max-width: 100%;
    padding: 30px 50px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50% scale(.1));
    padding: 0 30px 30px;
    color: var(--color-dark);
}

.department .head{
    font-size: 100px;
    margin-top: -50px;
    border-radius: 50%;
    padding: 1rem;
    color: var(--color-white);
    background: var(--color-info-light);
    display: inline-block;
    text-align: center;

}

.course{
    width: 500px;
    max-width: 100%;
    padding: 30px 50px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50% scale(.1));
    padding: 0 30px 30px;
    color: var(--color-dark);
}

.course .head{
    font-size: 100px;
    margin-top: -50px;
    border-radius: 50%;
    padding: 1rem;
    color: var(--color-white);
    background: var(--color-danger);
    display: inline-block;
    text-align: center;

}

.account{
    width: 1000px;
    max-width: 100%;
    padding: 30px 50px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: 15%;
    left: 22%;
    transform: translate(-50%, -50% scale(.1));
    padding: 0 30px 30px;
    color: var(--color-dark);
}

.account form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    grid-gap: 0.8em;
}

.account .head{
    font-size: 100px;
    margin-top: -50px;
    border-radius: 50%;
    padding: 1rem;
    color: var(--color-white);
    background: var(--color-success);
    display: inline-block;
    text-align: center;

}

.upload{
    width: 1000px;
    max-width: 100%;
    padding: 30px 50px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: 15%;
    left: 22%;
    transform: translate(-50%, -50% scale(.1));
    padding: 0 30px 30px;
    color: var(--color-dark);
}

.upload form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    grid-gap: 0.8em;
}

.upload .head{
    font-size: 100px;
    margin-top: -50px;
    border-radius: 50%;
    padding: 1rem;
    color: var(--color-danger);
    background: var(--color-white);
    display: inline-block;
    text-align: center;

}

.upload textarea{
    position: relative;
    width: 100%;
    margin-bottom: 11px;
    background: rgba(81, 79, 79, 0.124);
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: var(--border-radius-1);
    resize: none;
    height: 260px;
    
}
.field label i {
    font-size: 30px;
    color: rgb(55, 55, 55);
    
}

.upload form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    grid-gap: 0.8em;
}


.courseList{
    min-width: 50px;
    max-height: 70vh;
    margin: 30px 5px 5px 30px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    top: 15%;
    padding: 30px 30px 30px 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
}

.courseList::-webkit-scrollbar {
    visibility: hidden;
}

.courseList table tbody td {
    height: 2.2rem;
    border-bottom:  1px solid var(--color-light);
    color: var(--color-dark-variant);
    padding: 20px;
    font-size: medium;
    text-align: center;
}

.courseList table thead th {
    height: 1.2rem;

    color: var(--color-dark-variant);
    padding: 20px;
    font-size: medium;
    text-align: center;
}

.courseList table tbody tr:last-child td {
    border: none;
}

/*==========END OF COURSE LIST===========*/

/*=======DEPARTMENT LIST===========*/

.deptList{
    min-width: 50px;
    max-height: 70vh;
    margin: 30px 5px 5px 30px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    top: 15%;
    padding: 30px 30px 30px 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
}

.deptList::-webkit-scrollbar {
    visibility: hidden;
}

.deptList table tbody td {
    height: 2.2rem;
    border-bottom:  1px solid var(--color-light);
    color: var(--color-dark-variant);
    padding: 20px;
    font-size: medium;
    text-align: center;
}

.deptList table thead th {
    height: 1.2rem;

    color: var(--color-dark-variant);
    padding: 20px;
    font-size: medium;
    text-align: center;
}

.deptList table tbody tr:last-child td {
    border: none;
}

/*===========END OF DEPARTMENT LIST=============*/

.close{
    float: right;
    margin-top:auto;
    cursor:pointer;
    background-color: transparent;
    color: var(--color-dark);
}



.modal-container{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease;
}

.modal-container.show{
    opacity: 1;
    pointer-events: auto;
}

.field input[type=file] {
    display: none;
    visibility: none;
}
select[type="text"]{
    background: rgba(81, 79, 79, 0.124);
}

/*=========END OF MODAL FORM===============*/

.field_btn{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--color-primary);
    cursor: pointer;
    width: 100%;
    height: 50px;
}

.field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    background: rgba(81, 79, 79, 0.124);
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: var(--border-radius-1);
}
select{
    position: relative;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: var(--border-radius-1);
    color: var(--color-dark);
}

.close_logo{
    font-size: 40px;
    cursor: pointer;
}

.checkbox-text{
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px 1px 4px;
    accent-color: var(--color-primary);
}

.checkbox-content .text a{
    margin-bottom: -1px;
    color: var(--color-warning);
    font-size: 14px;
    font-weight: 500;
}

.checkbox-text .checkbox-content .text{
    font-size: 13px;
    font-weight: 400;
}

.field_btn_list{
    border: none;
    margin-top: 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--color-warning);
    cursor: pointer;
    width: 100%;
    height: 50px;
}

.modal-container #error{
    position: relative;
    margin-top: -30px;    
    margin-right: 10px;
    float: right;
    font-size: 12px;    
    background-color: var(--color-primary);    
    color: #fff;
    padding: 0 15px;
    border-radius: 4px;
}

.field_label{
    position: relative;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: var(--border-radius-1);
}

.input-field input[type=file] {
    display: none;
    visibility: none;
}

.input-field label i {
    font-size: 30px;
    margin-left: 15px;
    color: rgb(55, 55, 55);
}

#file{
    position: relative;
    margin-top: -4px;    
    margin-right:1px;
    float: right;
    font-size: 12px;    
    background-color: var(--color-warning);    
    color: #fff;
    padding: 0 15px;
    border-radius: 4px;
}
#file1{
    position: relative;
    margin-top: -4px;    
    margin-right:1px;
    float: right;
    font-size: 12px;    
    background-color: var(--color-warning);    
    color: #fff;
    padding: 0 15px;
    border-radius: 4px;
}
.done{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--color-primary);
    cursor: pointer;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
}
/*============MESSAGE===============*/
#over_lay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
.container1{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: rgba(255, 250, 250, 0.989);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow: hidden;
    margin: 0 20px;
    padding: 2rem 2rem;
    justify-content:center;
    align-items:center;
    top: 30%;
    left: 40%;
    
}

.container1 span{
    font-size: 6rem;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.done{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--color-primary);
    cursor: pointer;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
}
/*============END MESSAGE===============*/

/*============CARD UPLOAD===============*/
.cardContainer{/*grid2*/
    display: grid;
    width: 100%;
    background: var(--color-background);
    gap: 2%;
    grid-template-columns: 49% 49%;
}

.grid3{
    display: grid;
    width: 100%;
    background: var(--color-background);
    gap: 4%;
    grid-template-columns: 30.67% 30.67% 30.65%;
}
.cardUpload{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    max-width: 97%;
    overflow-y: auto;
}
.cardUpload::-webkit-scrollbar{
    display: none;
}

.cardUpload p{
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#iframe{
    width: 100%;
    height: 100%;
}

.btn_download{
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
    padding: .7%;
    float:right;
    text-align: center;
    font-size: 120%;
    margin-left: 1%;
}

.citation{
    width: 60%;
    max-width: 100%;
    padding: 10px 50px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50% scale(.1));
    padding: 0 30px 30px;
    color: var(--color-dark);
}


/*======SEARCH BAR=======*/


/*============END OF CARD UPLOAD===============*/

/*=============== MEDIA QUERIES ===============*/

@media screen and (max-width: 1200px) {
    .container {        
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo {
        display: none;
    }

    aside .sidebar {
        background: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        width: 70%;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap:0;
    }

    main .recent-order {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;        
    }

    main .recent-order table {
        width: 83vw;
    }

    main table thead tr th:last-child, 
    main table thead tr th:first-child {
        display: none ;
    }

    main table tbody tr td:last-child, 
    main table tbody tr td:first-child {
        display: none ;
    }
}

